wheel
./gym-sapientino-case-master/.
gym
matplotlib==3.4.2
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
-e git+https://github.com/tensorforce/tensorforce.git@a3bd1ff47984d191a5289f50ccbe3228e397ecfb#egg=Tensorforce
tensorflow>=2.5.1
tensorflow-estimator==2.5.0
